<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .navbar {
            background-image: url('https://i.pinimg.com/originals/fd/b0/5a/fdb05a3234d25d44da128e0d3abc5407.jpg');
            background-size: cover;
        }
        .footer {
            background-color: #b5b9bc;
            padding: 10px 0;
            text-align: center;
        }
    </style>
 
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href={% url "todo" %}>To-Do App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href={% url "home" %} style="font-style: bold;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "todo" %}>To-Do</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url "add_todo" %}>Add To-Do</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main" style="background-color: rgb(229, 225, 221);margin-top: 150px;">
        {% block body %}
        {% endblock %}
    </div>
    
    <!-- Footer -->
    <footer class="footer" style="margin-top: 290px;">
        <div class="container">
            <span class="text-muted">© 2024 To-Do App</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
