{% extends 'base.html' %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Task For Update <h1>
    <div class="input-group mb-3">

    <form method="post">
        {% csrf_token %}    

        <input type="text" class="form-control" name="update_task" placeholder="Enter task name"value="{{ todo.task }}">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" id="add-task">Update</button>
        </div>
    </form>
    </div>
    <ul class="list-group" id="task-list"></ul>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="script.js"></script>

{% endblock %}